
body {
    font-family: "Roboto", sans-serif !important;
}

#main-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    background-color: #30AAF4;
    
    & ul {
        list-style-type: none;

    }

    & li {
        cursor: pointer;
        position: relative;
    }
    
    & li::before {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    & a {
        text-decoration: none;
        color: #212529;
    }
}

#li-home::before {
    background-image: url('../assets/icons/home-icon.svg');
}
#li-profile::before {
    background-image: url('../assets/icons/profile-icon.svg');
}
#li-event::before {
    background-image: url('../assets/icons/event-icon.svg');
}

.page {
    filter: invert(100%) brightness(150%) !important;
}