
#home {
    background-color: rgb(245, 245, 245);
}

#home-title {
    position: relative;
    padding-left: 2rem;
}

#home-title::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    background-image: url('../assets/icons/main-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#image-home {
    max-width: 25rem;
    filter: drop-shadow(10px 10px 4px rgb(70, 70, 70));
    transform: rotate(25deg);

}

#image-home-first {
    max-width: 25rem;
    filter: drop-shadow(-10px 10px 4px rgb(70, 70, 70));
    transform: rotate(-25deg);
}

#title-card-section {
    position: relative;
    width: max-content;
}

#title-card-section::before {
    position: absolute;
    content: '';
    left: -2.5rem;
    bottom: 0.4rem;
    width: 2rem;
    height: 2rem;
    background-image: url('../assets/icons/event-icon-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}